@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@200;300;400;600&family=Raleway:wght@100..900&display=swap');

*{
  margin: auto;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  color: rgb(54, 53, 53);
  font-size: 14px;
}

.navbar{
  font-weight: bold;
  font-size: 15px;
}

.navbar :hover{
  background-color: gray;
}

.nombre {
  background: grey;

}

.boton_inicio{
    border: rgb(36, 36, 36) solid 2px;
    padding: 7px;
    border-radius: 50px;
    margin-right: -5rem;
    font-weight: bold;
    font-size: 15px;
}

.boton_inicio:hover{
    color: #ffffff;
    background-color:rgb(36, 36, 36);
    transition: 0.3s;
}

.boton_registro{
    border: rgb(36, 36, 36) solid 2px;
    padding: 7px;
    background-color:rgb(36, 36, 36) ;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
}

.boton_registro:hover{
    color:rgb(36, 36, 36) ;
    background-color: #ffffff;
    transition: 0.3s;
}

.waves_header{
    background-image: url(/assets/other/waves_nav.svg);
    height: 500px;
    margin-top: 30rem;
}
nav{
  position: fixed;
  width: 100%;
  height: 100px;
}

nav ul{
  list-style-type: none;
  margin-top: -10rem;
  height: 100px;
  z-index: 9999;
  -webkit-box-shadow: -4px 1px 17px 4px rgba(0,0,0,0.42); 
box-shadow: -4px 1px 17px 4px rgba(0,0,0,0.42);

}

nav ul li a {
  color: red;
  position: relative;
}

nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: rgb(28, 28, 28);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s; 
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul {
  background: white;
  display: flex;
}

.logo {
  width: 70px;
}

.icono {
  padding-right: 250px;
}

.navbar {
  color: rgb(21, 21, 21);
  text-decoration: none;
}

.busqueda {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px;
}

.busqueda input[type="text"] {
  border: none;
  outline: none;
  padding: 5px;
}

.busqueda button {

  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 2px;
  right: 0;
  background-color: #ffffff;
}

.lupa{
  width: 20px;
  height: 20px;
}

.busqueda button:hover {
  background-color: #ffffff;
}

.container-1{
  width: 50%;
  margin-top: 10rem;
  display: grid;
  grid-template-areas: 
  "item-titulo item-imagen"
  "item-texto item-imagen";
  padding: 1rem;
}

.item-titulo-1{
  grid-area: item-titulo;
  font-weight: bolder;
  font-size: 45px;
  padding: 20px;
  text-align: start;

}

.item-texto-1{
  grid-area: item-texto;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  border: 2px rgb(51, 51, 51) solid;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.item-texto-1:hover{
  background-color: #ffffff;
  color: rgb(51, 51, 51);
  transition: 0.3s;
}

.item-imagen-1{
  grid-area: item-imagen;
}

.imagen{
object-fit: cover;
}


/*bloque 2*/


.container-2{
    width: 50%;
  margin-top: 10rem;
  display: grid;
  grid-template-areas: 
  "item-imagen item-titulo"
  "item-imagen item-texto";
  padding: 1rem;
}

.item-titulo-2{
  grid-area: item-titulo;
  font-weight: bolder;
  font-size: 45px;
  padding: 20px;
  margin-left: 7rem;
  text-align: end;
}

.item-texto-2{
  grid-area: item-texto;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  margin-left: 6rem;
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  border: 2px rgb(51, 51, 51) solid;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.item-texto-2:hover{
  background-color: #ffffff;
  color: rgb(51, 51, 51);
  transition: 0.3s;
}

.item-imagen-2{
  grid-area: item-imagen;
}

.imagen{
object-fit: cover;
}

/*bloque 3*/

.container-3{
  width: 50%;
  margin-top: 10rem;
  display: grid;
  grid-template-areas: 
  "item-titulo item-imagen"
  "item-texto item-imagen";
  padding: 1rem;
  margin-bottom: 20rem;
}

.item-titulo-3{
  grid-area: item-titulo;
  font-weight: bolder;
  font-size: 45px;
  padding: 20px;
  text-align: start;

}

.item-texto-3{
  grid-area: item-texto;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  border: 2px rgb(51, 51, 51) solid;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.item-texto-3:hover{
  background-color: #ffffff;
  color: rgb(51, 51, 51);
  transition: 0.3s;
}

.item-imagen-3{
  grid-area: item-imagen;
}

.imagen{
object-fit: cover;
}

.contenedor-footer{
  width: 100%;
  height: 30rem;
  background-image: url(/html/assets/layered-waves-haikei.svg);
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.redes{
  border:  red solid 2px;
  
}




/* Estilos para pantallas pequeñas (hasta 600px, para móviles) */
@media only screen and (max-width: 600px) {

}



/* Estilos para pantallas medianas (de 601px a 992px, para portátiles) */
@media only screen and (min-width: 601px) and (max-width: 992px) {

}

@media only screen and (min-width: 601px) and (max-width: 992px) {

}

/* Estilos para pantallas grandes (a partir de 993px, para monitores de escritorio) */
@media only screen and (min-width: 993px) {

}
